# ---------------[ Unity generated ]------------------ #
Temp/
Obj/
UnityGenerated/
Library/
 
# ----[ Visual Studio / MonoDevelop generated ]------- #
 
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
 
# -------------[ OS generated ]------------------------ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
Library/expandedItems

Library/AssetServerCacheV3

Library/CurrentLayout.dwlt

Library/CurrentLayout.dwlt

Library/InspectorExpandedItems.asset

Library/assetDatabase3

Library/guidmapper

Library/guidmapper
